:root
  font-size 22px

body
  text-align center
  width 100vw
  height 100vh
  margin 10px
  padding 10px
  background #DFFFFD

main
  display flex
  flex-direction column

#editor
  height 40vh
  width 90%
  overflow scroll

#preview
  text-align left
  background white
  border 1px solid grey
  height 40vh
  width 90%
  overflow scroll